<!DOCTYPE html>
<html>
  <head>
    <title>Diplômes Low Tech</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= favicon_link_tag "favicon.png" %>
  </head>
  <body>
    <main class="container mt-5">
      <%= yield %>
    </main>
  </body>
</html>
